{% extends "layout.html" %} {% block title %} Home Page {% endblock %} {% block
content %}
<div class="container my-5">
  <h1 class="text-center mb-4">Optimizing 3D Bin Packing for Maximum Space Utilization</h1>

  <!-- Boxes Section -->
  <div class="mb-4">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Boxes</h2>
      <a href="{{ url_for('add_box') }}" class="btn btn-primary">Add Box</a>
    </div>
    <ul class="list-group">
      {% for box in boxes %}
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <span>{{ box.name }} - {{ box.whd }} - {{ box.weight }}kg</span>
        <span>
          <a
            href="{{ url_for('edit_box', box_id=box.id) }}"
            class="btn btn-sm btn-warning me-2"
            >Edit</a
          >
          <form
            action="{{ url_for('delete_box', box_id=box.id) }}"
            method="POST"
            style="display: inline"
            onsubmit="return confirm('Are you sure you want to delete this box?');"
          >
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
          </form>
        </span>
      </li>
      {% endfor %}
    </ul>
  </div>

  <!-- Items Section -->
  <div>
    <div class="d-flex justify-content-between align-items-center">
      <h2>Items</h2>
      <a href="{{ url_for('add_item') }}" class="btn btn-primary">Add Item</a>
    </div>
    <ul class="list-group">
      {% for item in items %}
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <span>{{ item.name }} - {{ item.whd }} - {{ item.count }} pieces</span>
        <span>
          <a
            href="{{ url_for('edit_item', item_id=item.id) }}"
            class="btn btn-sm btn-warning me-2"
            >Edit</a
          >
          <form
            action="{{ url_for('delete_item', item_id=item.id) }}"
            method="POST"
            style="display: inline"
            onsubmit="return confirm('Are you sure you want to delete this item?');"
          >
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
          </form>
        </span>
      </li>
      {% endfor %}
    </ul>
  </div>

  <!-- 3D Bin Packing Button -->
  <!--
    <div class="text-center mt-4">
        <a href="/calPacking" class="btn btn-success">3D BIN Packing</a>
    </div>
    -->
</div>
{% block content2 %} {% endblock %} {% endblock %}
